<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Messenger</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

<div class="container-fluid">
  <div class="row chat-container shadow-lg">

    <div class="col-md-3 p-0 chat-list d-flex flex-column">
      <div class="chat-list-header">
        <h4>Your chats</h4>
      </div>

      <div class="chats">
        <div th:each="chat : ${chats}" class="chat-list-item">
          <a th:classappend="${activeChat != null and activeChat.id == chat.id} ? 'active'"
             th:href="@{/(chat=${chat.id})}" th:text="${chat.name}"></a>
        </div>
      </div>
    </div>

    <div class="col-md-9 p-0 bg-white">
      <div th:if="${activeChat != null}" class="chat-body d-flex flex-column h-100">

        <div class="chat-header">
          <h4 th:text="${activeChat.name}"></h4>
        </div>

        <div class="message-box" id="messages">
          <div th:each="message, iterStat : ${activeChatMessages}"
               th:classappend="${message.sender.username == currentUser.username} ? 'message-wrapper from-user' : 'message-wrapper from-other'">

            <div th:if="${iterStat.index == 0} or ${#temporals.format(message.sentAt, 'ddMMyyyy') != #temporals.format(activeChatMessages[iterStat.index - 1].sentAt, 'ddMMyyyy')}"
                 class="date-divider">
              <small th:text="${#temporals.year(message.sentAt) == #temporals.year(#temporals.createToday()) ? #temporals.format(message.sentAt, 'd MMMM') : #temporals.format(message.sentAt, 'd MMMM yyyy')}"></small>
            </div>

            <div class="message">
              <span th:if="${message.sender.username != currentUser.username}" class="username" th:text="${message.sender.username}"></span>
              <div>
                <span th:text="${message.content}"></span>
                <small class="text-muted d-block" th:text="${#temporals.format(message.sentAt, 'HH:mm')}"></small>
              </div>
            </div>
          </div>

          <div th:if="${activeChatMessages.isEmpty()}" class="text-center text-muted inactive-chat-message">
            <h5>Send the first message</h5>
          </div>
        </div>

        <div id="send-message-error" class="text-danger" style="display: none;"></div>
        <form class="d-flex message-form" id="send-message-form">
          <input type="hidden" id="send-message-form-sender-id" th:value="${currentUser.id}"/>
          <input type="hidden" id="send-message-form-chat-id" th:value="${activeChat.id}"/>
          <input type="text" id="send-message-form-content" class="form-control me-2" placeholder="Enter the message..."/>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>

      <div th:unless="${activeChat != null}" class="text-center text-muted inactive-chat-message">
        <h5>Choose a chat, to start communication</h5>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>
