.side-bar {
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    height: 100%;
    max-height: 100vh;
}

.side-bar-header {
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #dee2e6;
}

.side-bar-footer {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #dee2e6;
}

.side-bar-footer a {
    height: 100%;
    width: 100%;
    border-right: 1px solid #dee2e6;
    text-decoration: none;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-content {
    overflow-y: auto;
}

.settings-item {
    height: 50px;
    border-bottom: 1px solid #dee2e6;
}

.setting-link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #212529;
    overflow: hidden;
    font-size: 1rem;
    padding-left: 20px;
}

.active {
    background-color: #ceecff;
}
